<section class="benefits-section">
  <div class="container">
    <h2 class="visually-hidden">Benefits</h2>

    <ul class="benefits-list">
      <li class="benefits-list-item">
        <div class="benefits-container">
          <div class="benefits-sub-container">
            <p class="benefits-container-main-text">
              Effortless Validation for
            </p>
            <h3 class="benefits-main-header">Management</h3>
            <p class="benefits-sub-text">
              The Myspace page defines the individual, his or her
              characteristics, traits, personal choices and the overall
              personality of the person.
            </p>
            <ul>
              <li>
                <h4 class="benefits-sub-header">Accessory makers</h4>
                <p class="benefits-sub-text-one">
                  While most people enjoy casino gambling, sports betting,
                  lottery and bingo playing for the fun.
                </p>
              </li>
              <li>
                <h4 class="benefits-sub-header">Alterationists</h4>
                <p class="benefits-sub-text-two">
                  If you are looking for a new way to promote your business that
                  won’t cost you more money.
                </p>
              </li>
            </ul>
          </div>
          <div class="benefits-image-container">
            <img
              src="./image/main/management-img.png"
              alt="Documents around wardrobes"
              width="540"
              height="500"
            />
          </div>
        </div>
      </li>

      <li class="benefits-list-item">
        <div class="benefits-container">
          <div class="benefits-img-container">
            <img
              src="./image/main/support-img.png"
              alt="Laptom with search process"
              width="540"
              height="500"
            />
          </div>

          <div class="benefits-sub-container">
            <p class="benefits-container-main-text">
              Easier decision making for
            </p>
            <h3 class="benefits-main-header">Customer Support</h3>
            <p class="benefits-sub-text">
              The Myspace page defines the individual, his or her
              characteristics, traits, personal choices and the overall
              personality of the person.
            </p>
            <ul class="icon-text-list">
              <li class="icon-text-item">
                <div class="support-icon-container">
                  <svg class="support-icon" width="16" height="12">
                    <use href="./image/main/icon.svg#icon-tick"></use>
                  </svg>
                </div>
                <p class="benefits-support-text">
                  Never worry about overpaying for your energy again.
                </p>
              </li>
              <li class="icon-text-item">
                <div class="support-icon-container">
                  <svg class="support-icon" width="16" height="12">
                    <use href="./image/main/icon.svg#icon-tick"></use>
                  </svg>
                </div>
                <p class="benefits-support-text">
                  We will only switch you to energy companies that we trust and
                  will treat you right
                </p>
              </li>
              <li class="icon-text-item">
                <div class="support-icon-container">
                  <svg class="support-icon" width="16" height="12">
                    <use href="./image/main/icon.svg#icon-tick"></use>
                  </svg>
                </div>
                <p class="benefits-support-text">
                  We track the markets daily and know where the savings are.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-container">
          <div class="benefits-sub-container">
            <p class="benefits-container-main-text">Optimisation for</p>
            <h3 class="benefits-main-header">Collaborative</h3>
            <p class="benefits-sub-text">
              Few would argue that, despite the advancements of feminism over
              the past three decades, women still face a double standard when it
              comes to their behavior.
            </p>
            <ul>
              <li>
                <h4 class="benefits-sub-header">Accessory makers</h4>
                <p class="benefits-sub-text-one">
                  While most people enjoy casino gambling, sports betting,
                  lottery and bingo playing for the fun
                </p>
              </li>
              <li>
                <h4 class="benefits-sub-header">Alterationists</h4>
                <p class="benefits-sub-text-two">
                  If you are looking for a new way to promote your business that
                  won’t cost you more money,
                </p>
              </li>
            </ul>
          </div>
          <div class="benefits-image-container">
            <img
              src="./image/main/collaboration-img.png"
              alt="Documents around wardrobes"
              width="540"
              height="500"
            />
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
