<section class="comments-section">
  <div class="container">
    <h2 class="comments-main-header">What Clients Say</h2>
    <p class="comments-main-text">
      Problems trying to resolve the conflict between<br />the two major realms
      of Classical physics: Newtonian mechanics
    </p>
    <ul class="comments-list">
      <li class="comments-list-item">
        <img
          class="comments-list-rating-img"
          src="./image/main/star-group.png"
          alt="Rating with 4 starts"
          width="106"
          height="18"
        />
        <p class="comments-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="comments-list-main-wrap">
          <img
            class="comments-list-avatar-img"
            src="./image/main/ellipse-1.png"
            alt="Designer avatar"
            width="50"
            height="50"
          />
          <div class="comments-list-sub-wrap">
            <p class="comments-list-person-name">Wahid Ari</p>
            <p class="comments-list-person-rank">Designer</p>
          </div>
        </div>
      </li>
      <li class="comments-list-item">
        <img
          class="comments-list-rating-img"
          src="./image/main/star-group.png"
          alt="Rating with 4 starts"
          width="106"
          height="18"
        />
        <p class="comments-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="comments-list-main-wrap">
          <img
            class="comments-list-avatar-img"
            src="./image/main/ellipse-2.png"
            alt="Designer avatar"
            width="50"
            height="50"
          />
          <div class="comments-list-sub-wrap">
            <p class="comments-list-person-name">Wahid Ari</p>
            <p class="comments-list-person-rank">Designer</p>
          </div>
        </div>
      </li>
      <li class="comments-list-item">
        <img
          class="comments-list-rating-img"
          src="./image/main/star-group.png"
          alt="Rating with 4 starts"
          width="106"
          height="18"
        />
        <p class="comments-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="comments-list-main-wrap">
          <img
            class="comments-list-avatar-img"
            src="./image/main/ellipse-3.png"
            alt="Designer avatar"
            width="50"
            height="50"
          />
          <div class="comments-list-sub-wrap">
            <p class="comments-list-person-name">Wahid Ari</p>
            <p class="comments-list-person-rank">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
