<section class="experts-section">
  <div class="experts-container">
    <h2 class="experts-header">Quick & Easy Process</h2>
    <p class="experts-text">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="experts-list">
      <div class="experts-sub-container">
        <li class="experts-list-item">
          <div class="experts-wrap">
            <img src="./image/main/avatar-1.png" alt="" />
            <p class="experts-list-text">I can take care of your pitch</p>
          </div>
        </li>
        <li class="experts-list-item">
          <div class="experts-wrap">
            <p class="experts-list-text">I can prototype your app</p>
            <img src="./image/main/avatar-2.png" alt="" />
          </div>
        </li>
      </div>
      <div class="experts-sub-container">
        <li class="experts-list-item">
          <div class="experts-wrap">
            <p class="experts-list-text">I can take care of your pitch</p>
            <img src="./image/main/avatar-3.png" alt="" />
          </div>
        </li>
        <li class="experts-list-item">
          <div class="experts-wrap">
            <img src="./image/main/avatar-4.png" alt="" />
            <p class="experts-list-text">I can help marketing strategy</p>
          </div>
        </li>
      </div>
    </ul>
    <button class="experts-btn" type="button">Contact our expert</button>
  </div>
</section>
