<footer class="page-footer">
  <div class="footer-container">
    <div class="footer-sub-container">
      <h2 class="footer-container-header">
        Join 100 Compannies who boost their business with Product
      </h2>
      <button class="footer-container-btn" type="button">Get This</button>
    </div>
    <img
      class="footer-container-img"
      src="./image/main/screen.png"
      alt="Documnets with data analisys"
      width="351"
      height="351"
    />
  </div>
  <div class="container footer-bottom-container">
    <div class="footer-bottom-part-one">
      <a class="logo footer-logo" href="./index.html"
        ><img
          src="./image/main/logo.png"
          alt="Company Logo"
          width="39"
          height="36"
        />Product</a
      >
      <ul class="footer-soc-list">
        <li class="footer-soc-list-item">
          <a
            class="footer-soc-list-link"
            target="_blank"
            href="https://www.instagram.com"
          >
            <svg class="footer-soc-icon" width="24" height="24">
              <use href="./image/main/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-list-item">
          <a
            class="footer-soc-list-link"
            target="_blank"
            href="https://www.facebook.com"
          >
            <svg class="footer-soc-icon" width="24" height="24">
              <use href="./image/main/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-list-item">
          <a
            class="footer-soc-list-link"
            target="_blank"
            href="https://twitter.com"
          >
            <svg class="footer-soc-icon" width="24" height="24">
              <use href="./image/main/icon.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom-part-two">
      <h2 class="footer-bottom-part-two-header">Resource</h2>
      <ul class="footer-bootom-part-two-list">
        <li class="footer-bootom-part-two-item">
          <a class="footer-bootom-part-two-link" href="">About Us</a>
        </li>
        <li class="footer-bootom-part-two-item">
          <a class="footer-bootom-part-two-link" href="">Blog</a>
        </li>
        <li class="footer-bootom-part-two-item">
          <a class="footer-bootom-part-two-link" href="">Contact</a>
        </li>
        <li class="footer-bootom-part-two-item">
          <a class="footer-bootom-part-two-link" href="">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom-part-three">
      <h2 class="footer-bottom-part-three-header">Legal Stuff</h2>
      <ul class="footer-bottom-part-three-list">
        <li class="footer-bottom-part-three-item">
          <a class="footer-bottom-part-three-link" href="">Disclaimer</a>
        </li>
        <li class="footer-bottom-part-three-item">
          <a class="footer-bottom-part-three-link" href="">Financing</a>
        </li>
        <li class="footer-bottom-part-three-item">
          <a class="footer-bottom-part-three-link" href="">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom-part-four">
      <p class="footer-bottom-part-four-text">
        knowing you're always on the best energy deal.
      </p>
      <form class="footer-form">
        <label class="footer-form-label">
          <svg class="footer-form-icon" width="18" height="28">
            <use href="./image/main/icon.svg#icon-mobile-screen"></use>
          </svg>
          <input
            class="footer-form-input"
            type="tel"
            name="user_tel"
            placeholder="Enter your phone number"
          />
        </label>
        <button class="footer-form-btn" type="submit">Sign up Now</button>
      </form>
    </div>
  </div>
  <p class="footer-bottom-text">
    Made With Love By Figmaland All Right Reserved
  </p>
</footer>
