<section class="intro-section">
  <div class="container intro-container">
    <div class="intro-subcontainer-one">
      <h1 class="intro-header">Work at the speed of thought</h1>
      <p class="intro-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="intro-btn-list">
        <li>
          <button class="intro-btn-one" type="button">Get started</button>
        </li>
        <li>
          <button class="intro-btn-two" type="button">
            <svg class="intro-btn-two-icon" width="20" height="18">
              <use href="./image/main/icon.svg#icon-btn-triangle"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <div class="intro-subcontainer-two">
      <img
        src="./image/main/intro-img.png"
        alt="People, wrapped in social network"
        width="610"
        height="555"
      />
    </div>
  </div>
</section>
