<section class="price-section">
  <div class="container">
    <h2 class="price-main-header">Price Table</h2>
    <p class="price-main-text">We offer competitive price</p>
    <ul class="price-main-list">
      <li class="price-main-list-item">
        <h3 class="price-main-list-header">Free</h3>
        <p class="price-main-list-text">Brief price description</p>
        <ul class="amount-list">
          <div class="amount-one">
            <li class="amount-list-item">
              <p class="amount-list-text-number">0</p>
            </li>
          </div>
          <div class="amount-two">
            <li class="amount-list-item">
              <p class="amount-list-text-symbol">$</p>
            </li>
            <li class="amount-list-item">
              <p class="amount-list-text-term">Per/month</p>
            </li>
          </div>
        </ul>
        <ul class="price-sub-list">
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">Only 2 Operators</p>
          </li>
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">Notifications</p>
          </li>
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
      <li class="price-main-list-item">
        <h3 class="price-main-list-header">Standard</h3>
        <p class="price-main-list-text">Brief price description</p>
        <ul class="amount-list">
          <div class="amount-one">
            <li class="amount-list-item">
              <p class="amount-list-text-number color-change">5</p>
            </li>
          </div>
          <div class="amount-two">
            <li class="amount-list-item">
              <p class="amount-list-text-symbol color-change">$</p>
            </li>
            <li class="amount-list-item">
              <p class="amount-list-text-term">Per/month</p>
            </li>
          </div>
        </ul>
        <ul class="price-sub-list">
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">5+ Operators</p>
          </li>
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">Notifications</p>
          </li>
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
      <li class="price-main-list-item">
        <h3 class="price-main-list-header">Premium</h3>
        <p class="price-main-list-text">Brief price description</p>
        <ul class="amount-list">
          <div class="amount-one">
            <li class="amount-list-item">
              <p class="amount-list-text-number">10</p>
            </li>
          </div>
          <div class="amount-two">
            <li class="amount-list-item">
              <p class="amount-list-text-symbol">$</p>
            </li>
            <li class="amount-list-item">
              <p class="amount-list-text-term">Per/month</p>
            </li>
          </div>
        </ul>
        <ul class="price-sub-list">
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">10+ Operators</p>
          </li>
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">Notifications</p>
          </li>
          <li class="price-sub-list-item">
            <p class="price-sub-list-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
