.footer-container {
  border-radius: 32px;
  width: 968px;
  height: 345px;
  max-width: 968px;
  background-color: #02897a;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  padding-left: 51px;
  padding-right: 46px;
  padding-top: 4px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.footer-bottom-container {
  display: flex;
  margin-bottom: 10px;
}

.footer-container-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  display: block;
  max-width: 490px;
  margin-bottom: 46px;
  /* padding-left: 51px; */
}

.footer-container-btn {
  display: block;
  margin-right: auto;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  transition-property: border, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.footer-container-btn:hover,
.footer-container-btn:focus {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #bcd0e5;
}

.footer-logo {
  margin-bottom: 18px;
  margin-right: auto;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-icon {
  fill: #02897a;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.footer-soc-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #edfffc;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.footer-soc-list-link:hover,
.footer-soc-list-link:focus {
  background-color: #02897a;
}

.footer-soc-list-link:hover .footer-soc-icon,
.footer-soc-list-link:focus .footer-soc-icon {
  fill: #fff;
}

.footer-bottom-part-one {
  margin-right: 146px;
}

.footer-bottom-part-two {
  min-width: 118px;
  margin-right: 129px;
}

.footer-bottom-part-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  display: block;
  margin-bottom: 8px;
}

.footer-bootom-part-two-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
  display: block;
}

.footer-bottom-part-three {
  min-width: 131px;
  margin-right: 83px;
}

.footer-bottom-part-three-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  display: block;
  margin-bottom: 8px;
}

.footer-bottom-part-three-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
  display: block;
}

.footer-bottom-part-four {
  max-width: 325px;
}

.footer-bottom-part-four-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  display: block;
  margin-bottom: 30px;
  max-width: 260px;
}

.footer-form-label {
  position: relative;
}

.footer-form-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  background-color: #fff;
  padding-left: 42px;
  margin-bottom: 25px;
  outline: none;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.footer-form-input:focus {
  border: 1px solid #02897a;
  background-color: #edfffc;
}

.footer-form-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  display: block;
  background-color: #02897a;
  padding: 8px 15px;
  outline: none;
  border: none;
  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  color: #02897a;
  background-color: transparent;
  border: 1px solid #bcd0e5;
}

.footer-form-icon {
  fill: #02897a;
  position: absolute;
  margin-left: 13px;
  margin-top: 12px;
}

.footer-bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #22343d;
  display: block;
  text-align: center;
}

.page-footer {
  padding-bottom: 40px;
}
