.page-header {
  background-color: #fff;
  margin-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
}

.header-nav {
  margin-right: 73px;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding-top: 26px;
  padding-bottom: 26px;
  display: block;
}

.current {
  font-weight: 600;
}

.header-btn-list {
  display: flex;
  gap: 21px;
  margin-left: auto;
}

.header-signin-btn {
  font-weight: 600;
  font-size: 16px;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 102px;
  height: 43px;
  background-color: transparent;
  transition-property: background-color, border, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.header-signup-btn {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  min-width: 110px;
  outline: none;
  border: none;
  height: 43px;
  background-color: #02897a;
  transition-property: background-color, border, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.header-signin-btn:hover,
.header-signin-btn:focus {
  background-color: #02897a;
  border: none;
  color: #fff;
}

.header-signup-btn:hover,
.header-signup-btn:focus {
  background-color: transparent;
  border: 1px solid #bcd0e5;
  color: #02897a;
}
